--- drivers/staging/Kconfig
+++ drivers/staging/Kconfig
@@ -108,4 +108,6 @@ source "drivers/staging/skein/Kconfig"
 
 source "drivers/staging/unisys/Kconfig"
 
+source "drivers/staging/prima/Kconfig"
+
 endif # STAGING
